/* Общие стили */

.page {
  display: grid;
  grid-template-columns: 1fr;
  padding: 100px 0;
  gap: 98px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, 'Inter-Variable');
  font-variation-settings: 'wght' var(--main-font-weight, 410);
  background-image:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  background-attachment: fixed;
  justify-items: center;
}

.bordered-box {
  border: 2px solid #000;
  background-color: #fff;
}

.button {
  display: grid;
  grid-template-columns: 1fr;
  outline: none;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  color: var(--button-text-color, #fff);
  font-family: var(--accent-font, 'PressStart2P');
  font-size: 14px;
  cursor: pointer;
}

.button .button__text {
  position: relative;
  z-index: 1;
  grid-row: 1;
  grid-column: 1;
  align-content: center;
  mix-blend-mode: difference;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px #000;
}

.button::before {
  display: block;
  grid-row: 1;
  grid-column: 1;
  content: '';
  background-color: #000;
  translate: -100% 0;
  transition: translate 0.5s ease-in-out;
  height: 100%;
  width: 100%;
}

.button:hover::before {
  translate: 0 0;
}

/* Стили заголовка */

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  padding: 128px 0;
  justify-items: center;
  align-items: center;
  gap: 20px;
  font-family: var(--accent-font, 'PressStart2P');
  inline-size: var(--block-width, clamp(40%, 700px, 100%));
  block-size: min-content;
  text-transform: uppercase;
}

.header__main-title {
  display: block;
  font-size: clamp(3.0625rem, 2.5723rem + 2.0915vw, 4.0625rem);
  block-size: max-content;
  text-align: center;
  max-block-size: max-content;
}

.header__description {
  align-content: center;
  font-size: clamp(0.875rem, 0.5993rem + 1.1765vw, 1.4375rem);
  line-height: 100%;
}

/* Стили основной части */

.main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 50px;
}

.card {
  width: var(--block-width, clamp(40%, 700px, 100%));
  font-size: 18px;
}

.card__title {
  font-size: inherit;
  font-variation-settings: 'wght' var(--header-font-weight, 710);
  padding: 4px 10px;
}

.card__image-container {
  display: grid;
  justify-items: end;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.card__image {
  inline-size: 100%;
  border: none;
  object-position: center;
  object-fit: cover;
}

.tag {
  position: absolute;
  margin: 25px;
  font-family: var(--accent-font, 'PressStart2P');
  font-size: 14px;
  color: black;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px -1px 0 var(--text-border-color, #fff),
    1px -1px 0 var(--text-border-color, #fff),
    -1px 1px 0 var(--text-border-color, #fff),
    1px 1px 0 var(--text-border-color, #fff);
}

@supports (-webkit-text-stroke: 1px var(--text-border-color, #fff)) {

  .tag {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-border-color, #fff);
  }
}

.filter-low-saturate {
  filter: saturate(20%);
}

.filter-high-saturate {
  filter: saturate(250%);
}

.filter-low-brightness {
  filter: brightness(50%);
}

.filter-invert {
  filter: invert(100%) brightness(30%);
}

.filter-blur {
  filter: blur(15px) brightness(50%);
}

.filter-sepia {
  filter: sepia(100%);
}

.filter-hue-rotate {
  filter: hue-rotate(90deg) brightness(50%);
}

.card__content {
  display: grid;
  padding: 20.5px 25px;
  gap: 25px;
}

.card__buttons {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 5px;
  justify-content: end;
}

.card__like-button {
  min-block-size: 38px;
  min-inline-size: 130px;
  block-size: min-content;
}

.card__icon-button {
  background-color: transparent;
  transition: border-color 0.3s ease;
  border: 2px solid transparent;
  outline: none;
}

.like-icon {
  min-inline-size: 27px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

/* Анимация лайка */

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: #000;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon .core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--animation-hover-color, #000);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--animation-hover-color, #000);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color, #f00);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color, #f00);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color, #f00);
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color, #f00);
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked {
  animation: heart-beat 0.3s ease-in 0.1s 1;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparkling 0.3s ease-in 0.1s 1;
  transform-origin: center;
}

/* Кнопка сохранения */

.save {
  max-inline-size: 335px;
  justify-self: center;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: min-content;
  gap: 3.5px;
  line-height: 90%;
  align-items: center;
}

.save::before {
  grid-column: 1 / 3;
  min-block-size: 52px;
  min-inline-size: 335px;
}

.save .button__text {
  grid-row: 1;
  grid-column: 2;
  justify-self: self-start;
}

.floppy-small {
  grid-column: 1;
  grid-row: 1;
  inline-size: 28px;
  aspect-ratio: 1 / 1;
  mix-blend-mode: difference;
  justify-self: self-end;
  padding-right: 7px;
}

.floppy-large {
  inline-size: 39px;
  aspect-ratio: 1 / 1;
}

/* Диалоговое окно */

#dialog {
  padding: 0;
  justify-self: center;
}

.dialog__content {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, max-content);
  font-family: var(--accent-font, 'PressStart2P');
  font-size: 14px;
  row-gap: 20px;
  column-gap: 30px;
  padding: 30px;
  text-transform: uppercase;
  max-inline-size: 353px;
  line-height: 150%;
  align-items: center;
}

#dialog[open]::backdrop {
  background-color: var(--background-color-backdrop, rgb(0 0 0 / 0.75));
}

.dialog__button {
  grid-column: 1 / 3;
  text-transform: uppercase;
  max-block-size: 38px;
}

.dialog__button .button__text {
  grid-row: 1;
  grid-column: 1;
  padding: 13px 0;
  line-height: 90%;
}

/* Стили для смартфонов  */

@media (width <= 375px) {

  .page {
    gap: 100px;
  }

  .card__image {
    aspect-ratio: 1 / 1.009;
  }

  .header {
    padding: 120px 0;
  }

  .card__title {
    line-height: 130%;
  }

  .card__content {
    padding: 19.5px 25px;
  }

  .save {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .save::before {
    grid-column: 1;
    grid-row: 1 / 3;
    min-block-size: 84px;
    min-inline-size: 306px;
  }

  .save .button__text {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    align-self: self-start;
  }

  .floppy-small {
    inline-size: 31px;
    align-self: self-end;
    justify-self: center;
    padding-right: 3px;
    padding-bottom: 3px;
  }

  #dialog {
    max-width: max-content;
  }

  .dialog__content {
    padding: 30px 40px;
    row-gap: 30px;
    column-gap: 20px;
    max-inline-size: 341px;
  }
}
